[2021-11-22 17:40] Dhaiwat10 opened #1 "Setup Chakra"
I am planning to build this UI library on top of [ChakraUI](https://chakra-ui.com/).

[2021-11-22 17:50] Dhaiwat10 opened #2 "Create a proper README"
We need a proper readme file that contains some details about what this project is, what the current status is and how can one contribute.

[2021-11-22 19:22] Dhaiwat10 opened #3 "Convert to monorepo"
Manually testing the package locally using `yarn link` is painful.

Example: https://github.com/slipHQ/run-wasm

[2021-11-23 12:16] swetshaw commented on #2
Hey, I am ready to help.

[2021-11-23 12:21] Dhaiwat10 commented on #2
@swetshaw thanks! Let me know if you need anything

[2021-11-24 04:57] Dhaiwat10 opened #5 "List of components"
This is what I'm thinking of for the initial set of components we want to develop:

- Address (w/ ens integration)
- AddressInput
- EtherInput
- Web3Modal connection (global context passed down from web3-ui's `<Provider />`)
- Switch to correct network
- Transaction updates (wait, success, failure)

Most of these are inspired from scaffold-eth. Feedback and suggestions welcome!

[2021-11-24 21:31] gilcreque commented on #2
Maybe this would help https://readme.so/

[2021-11-25 13:28] Ibby-devv commented on #5
Connect Wallet Button

[2021-11-25 13:50] swetshaw commented on #5
A Component for displaying the NFTs (customized accordingly):
- Art
- Music
- Video, etc

[2021-11-25 22:29] Dhaiwat10 opened #7 "Component development checklist"
This issue will serve as the checklist for developing different UI components and tracking the progress of each issue.

- [ ] Global `Web3Context`, connect wallet functionality and connect wallet UI
- [ ] ETH wallet address input with support for ENS domains
- [ ] Token amount/value input with easy conversion to-from wei<->ether

Will add more tasks soon.

[2021-11-25 22:29] Dhaiwat10 opened #8 "Global `Web3Context`, connect wallet functionality and connect wallet UI"
## Checklist
- [ ] Global `Web3Context` which will provide different utilities to your app through the `<Provider />`.  The utilities would enable easy access to information like - whether a wallet is connected or not, the network the wallet is connected to, etc.
- [ ] Utility functions like `requestNetworkChange`, `requestWalletConnection`, etc.
- [ ] Connect wallet buttion and any other UI piece

[2021-11-25 22:29] Dhaiwat10 opened #9 "ETH wallet address input with support for ENS domains"
Please take inspiration from [scaffold-eth's `AddressInput` component](https://github.com/scaffold-eth/scaffold-eth/blob/master/packages/react-app/src/components/AddressInput.jsx).

[2021-11-25 22:29] Dhaiwat10 opened #10 "Token amount/value input with easy conversion to-from wei<->ether"
Please take inspiration from [scaffold-eth's `EtherInput` component](https://github.com/scaffold-eth/scaffold-eth/blob/master/packages/react-app/src/components/EtherInput.jsx).

[2021-11-26 15:14] swetshaw commented on #10
Hi @Dhaiwat10 I would like to work on this issue, I might need some help from you if that's ok? 🙂

[2021-11-26 15:40] Dhaiwat10 commented on #10
Hey @swetshaw sure thing! Really appreciate you taking initiatives on this project. :)

I think @miralsuthar also wanted to have a look at this. Maybe you two can pair program a bit and help each other out? Of course, I'm just one mention or DM away too!

[2021-11-26 15:42] Dhaiwat10 commented on #10
One thing I would suggest is waiting until I close #8. That way, you will have a clear idea of the general structure of a component. I'll make sure that I notify you two when I open a PR for that. Does that sound fair?

[2021-11-26 16:36] Nazeeh21 commented on #9
I'll be working on this issue

[2021-11-27 00:38] Dhaiwat10 commented on #3
Just for reference: the monorepo will contain three packages: `@web3-ui/components`, `@web3-ui/hooks` and `web3-ui`.

@crondinini feel free to keep the existing code in the `web3-ui` package and initalise 2 blank react packages for the other two. We'll migrate the code later. Let me know if I can help in any way!

[2021-11-27 02:16] Dhaiwat10 opened #17 "Sign-in with Ethereum"
RoguePenguins on Discord suggested having a `Sign-in with Ethereum` button that implements a functionality similar to the one seen on https://login.xyz/.

I think this is a must-have feature.

[2021-11-27 10:35] crondinini commented on #3
@Dhaiwat10 I don't think it's possible to keep the existing code in the root. One of the first things I've seen about workspaces is that we need to have a clean root and move the packages to a shared location.

[2021-11-27 10:38] Dhaiwat10 commented on #3
@crondinini Yeah that's right! What I meant was that keep the current code in the `web3-ui` package for now 🙂 Sorry, I wrote it in a confusing way

[2021-11-27 10:43] swetshaw commented on #10
Hi, @Dhaiwat10 if @miralsuthar is okay doing it that way I have no issues, although I don't know how feasible it will be, can give it a try!

[2021-11-27 12:18] crondinini opened #18 "Configure publish/release flow"
### Overview

After cleaning up items from the original template, one of the things removed was the publish action alongside all dependencies for semantic release. We should think about what's the strategy we want to follow for releasing and if we want to go the automated route of using a package for the semantic release.

[code]

[2021-11-27 12:59] crondinini opened #19 "Review/refactor bundler setup"
### What is the problem?

We're currently including 2 bundlers as dev dependencies, `rollup` and `webpack`.

It seems that storybook requires `webpack`. and that our project is using `rollup`. We should look into using one single bundler.

### Why?

Having more than 1 bundler introduces unnecessary complexity. Bundlers are already complicated in nature to configure and debug, it's something done e

[2021-11-27 13:05] Canopix commented on #5
A mechanism to request "Change" to the correct Network if is needed.
Like, the dApps need to be connected to BSC and the user is in Ethereum. Request the change

[2021-11-27 16:08] swellander commented on #17
Hi @Dhaiwat10 👋 mind if I take a shot at implementing this sign-in?

Thanks for organizing this project! Seems like it has a lot of potential utility 🔧

[2021-11-27 19:18] Dhaiwat10 commented on #17
@swellander you're more than welcome to but please wait until the #3 issue gets closed! The project structure is going to change drastically

[2021-11-27 19:27] swellander commented on #17
Sounds good, thanks for the heads up!

[2021-11-27 22:49] RoguePenguins commented on #17
ayy so I made a buildMessage helper function for this when we're ready for it :)

[2021-11-28 00:49] JoelBCarter commented on #1
@Dhaiwat10 I'm not super familiar with Chakra but my question here is would it be too opinionated/limiting to take a dependency on ChakraUI?  For example if someone wanted to use Bootstrap or Tailwind while brining in our components, would that still be possible without a lot of toil?

[2021-11-28 01:55] Dhaiwat10 commented on #17
Thanks @RoguePenguins, will love to see it

[2021-11-28 02:28] Dhaiwat10 commented on #1
@JoelBCarter It would indeed be opinionated but here are the reasons why we chose Chakra:
1. Chakra gives you full control over the styling of the component itself.
2. Chakra already has several handy utilities + excellent accessibility support. We cannot afford to re-invent that.

To answer your question, yes and no. You can still pass stuff like class names to our components but our components w

[2021-11-28 02:28] Dhaiwat10 commented on #1
I'm closing this issue since Chakra was already setup, but feel free to keep the discussion going if you have questions or concerns. :)

[2021-11-28 02:28] #1 closed

[2021-11-28 02:29] Dhaiwat10 commented on #10
If you prefer working by yourself, that's totally fine too. I suggested pairing up since you said you'll need help :)

[2021-11-28 17:26] Dhaiwat10 commented on #19
@with-heart had suggested [preconstruct](https://preconstruct.tools/).

Added it here for reference for whoever picks this one up!

[2021-11-28 17:35] etr2460 commented on #19
I'll take a look into picking the best option here and will report back with a recommendation!

[2021-11-28 21:17] JoelBCarter commented on #1
@Dhaiwat10 I totally love the accessibility aspect of Chakra, just wondering if it would give people pause for concern in adopting this as "The Web3 UI Library" if they also had to take a hard dependency on Chakra.  I like the plan of run with it now and we can always circle back if it becomes an issue for adoption (probably won't).

[2021-11-28 21:23] etr2460 commented on #19
A summary of conversations and research:

**Webpack**
For Storybook to work, it needs a webpack config. So we'll always have webpack in the repo, but it'll only be used for Storybook, so should be pretty decoupled from the build process for releasing new packages.

Parcel and Snowpack also seem more in the vein of Webpack as being focused on applications, not libraries, so they don't seem like the

[2021-11-28 22:19] with-heart commented on #19
Sort of! It does rely on Babel for transforms but the actual build is driven by `rollup`.

Overall the Babel config for what we're building here would be fairly minimal, probably not anything more complex than what we have in #23 for configuring TypeScript.

As an example, we use `preconstruct` for Chakra and our https://github.com/chakra-ui/chakra-ui/blob/main/babel.config.js file is only 21 line

[2021-11-28 22:24] etr2460 commented on #19
Thanks @with-heart for more details on how Chakra uses `preconstruct`. Since we don't quite have a monorepo here yet, would you recommend that:
- My PR migrate off rollup in favor of a basic babel + preconstruct setup
- The future monorepo PR then builds off this work to get building and publishing working for all sub packages

[2021-11-29 01:03] Dhaiwat10 commented on #1
@JoelBCarter Your concern is completely valid! How I see it: if the library ever becomes widely-adopted, then maybe we can think of creating a headless, non-opinionated UI library. A great example  is HeadlessUI and TailwindUI.

[2021-11-29 01:06] Dhaiwat10 commented on #18
Whenever we decide to work on this problem, we should also look at creating a workflow for a well-maintained changelog.

[2021-11-29 04:30] Dhaiwat10 opened #27 "Monorepo setup discussion"
Please use this thread as the place to open a discussion about the monorepo setup (#26) or to suggest any improvements!

[2021-11-29 04:33] etr2460 commented on #27
oops, looks like i was a minute or two late with PR comments. I might make a PR to add in the changes i listed here: https://github.com/Developer-DAO/web3-ui/pull/26#pullrequestreview-817348782

[2021-11-29 04:35] Dhaiwat10 commented on #27
@etr2460 thank you! Please do that and I'll merge it in asap

[2021-11-29 04:39] etr2460 commented on #27
opened https://github.com/Developer-DAO/web3-ui/pull/28!

[2021-11-29 04:55] Dhaiwat10 commented on #27
#28 merged

[2021-11-29 06:37] Dhaiwat10 opened #30 "Setup the `hooks` package with some basic hooks"
Since the decision was made to split up the project into two different packages, I will be working on setting up the `hooks` package. I will be looking to implement most of the basic functionalities I tried to implement in #16 but this time I'll try to leverage [`useDApp`](https://github.com/EthWorks/useDApp) too.

[2021-11-29 15:53] with-heart opened #32 "Move to a single root Storybook instance"
We've currently set up each of our packages with its own Storybook config but I'd like to suggest that we move to a single root instance as multiple Storybook instances are unnecessary complexity for no real gain.

A single instance is useful for local dev (run once to explore all packages as we make changes) and can be published as a single point for users looking to explore the visual output of

[2021-11-29 16:02] with-heart opened #33 "Clean up workspaces"
As we're transitioning to a monorepo setup with `packages/components` and `packages/hooks`, we're ending up in a situation where we have unnecessary duplication of scripts, configs, and files.

The goal of this issue is to collect all of these in one place so we can resolve them after the bulk of monorepo setup is complete.

- [x] Merge package-specific Storybook configs into a single root config

[2021-11-29 18:25] with-heart commented on #19
Yeap! That's a great plan

[2021-11-29 18:52] #30 closed

[2021-11-29 19:30] Dhaiwat10 opened #36 "Hooks discussion"
Let's use this issue as a place to discuss hooks. This is what I'm thinking of as the initial hooks:

1. [`useWallet`](https://github.com/Developer-DAO/web3-ui/blob/master/packages/hooks/src/hooks/useWallet.ts)
Contains information about the wallet connection and has helper methods like `connectWallet`, `disconnectWallet`.
____

- [ ] useContract

I can't think of more hooks at the moment. Please

[2021-11-29 19:32] Dhaiwat10 opened #37 "Hooks development checklist"
This issue will serve as the checklist for developing different hooks and tracking the progress of each issue. This issue is similar to #7, but for hooks!

- [x] `useWallet`
- [x] #39
- [x] `useTransaction`

There are more details about these hooks in #36! That's also the place where you can share your ideas or suggestions.

[2021-11-29 19:33] Dhaiwat10 opened #38 "The `hooks` package is not working properly when consumed"
The functionality of the `hooks` package is working fine when testing from inside the storybook for it, but it's not working when trying to import the build output of it. (inside the `components` package storybook for example)

[2021-11-29 19:37] Dhaiwat10 opened #39 "`useContract`"

[2021-11-30 08:16] Nazeeh21 commented on #36
Thanks @Dhaiwat10, for listing all the hooks along with the details

[2021-11-30 15:11] Dhaiwat10 commented on #38
Fixed via #40

[2021-11-30 15:11] #38 closed

[2021-11-30 22:11] AlexNi245 opened #42 "Token Balance Component"
Hi, I'm thinking to build a component, that is displaying the user balance of a certain token.
Personally, I like the approach dotmerketcap.com goes design-wise.

So I think the component would have the following params

- Contract Address (the address where the token's contract is deployed)
- Img (Path to Logo)
- Value in USD (the ability to pass the current price of the token per USD )

If the u

[2021-11-30 23:13] etr2460 commented on #42
I love this idea, and would love to see you build it!

a couple thoughts (possibly feasible). i wonder if:
- there's a way to fetch the image for the logo from somewhere else and not require the user to provide it? is there a centralized/decentralized source/api for ERC-20 tokens?
- we should add a default integration with a coinmarketcap (or other) api and let the user pass in an api key to then

[2021-11-30 23:27] etr2460 commented on #5
[Token Balance component](https://github.com/Developer-DAO/web3-ui/issues/42) (thanks @AlexNi245)

[2021-12-01 02:36] Dhaiwat10 commented on #42
Great idea @AlexNi245. If you want to work on this, I can move this to the checklist (#7)

[2021-12-01 07:46] AlexNi245 commented on #42
thank you for replying @etr2460 @Dhaiwat10 I will build a component later on and figure out how we can do the thing @etr2460 suggested.

Yes would be nice if you can move it to the checklist and assign me :)

[2021-12-01 10:38] christiananese commented on #36
Couldn't we use [TypeChain](https://github.com/dethcrypto/TypeChain) to generate the type definitions?

[2021-12-02 00:18] swellander commented on #39
Hey @Dhaiwat10, can I be assigned to this one? Working on a rough draft now. Thanks!

[2021-12-02 00:44] Dhaiwat10 opened #49 "Setup Storybook deployments (and preview deployments)"
It would be great to have a deployed version of our Storybook(s) that anyone can access without having to pull down a branch and starting the Storybook server locally. This will be helpful for reviewing PRs too.

Helpful links:
- https://storybook.js.org/tutorials/intro-to-storybook/react/en/deploy/
- https://www.chromatic.com/

[2021-12-02 01:00] etr2460 commented on #49
I was thinking about setting this up with vercel originally, but chromatic would probably work too. love the idea!

[2021-12-02 01:56] with-heart commented on #49
@alanpcurrie has done a lot of work in a similar direction with https://github.com/Developer-DAO/developerdao.com/pull/178. Might be interesting to take a look at his work or have him assist with this as well!

[2021-12-02 08:08] christiananese commented on #49
Hey @etr2460 are you already working on this one? If not  @Dhaiwat10 can I be assigned?

[2021-12-02 11:37] Dhaiwat10 commented on #49
Assigning you @christiananese, grazie

[2021-12-02 12:03] Dhaiwat10 commented on #42
There you go @AlexNi245

[2021-12-02 14:30] Dhaiwat10 opened #54 "Add contributors"

[2021-12-02 14:30] Dhaiwat10 commented on #54
@allcontributors add @Dhaiwat10 for code, review

[2021-12-02 14:31] #54 closed, assigned to nobody

[2021-12-03 04:54] etr2460 commented on #49
yup, i haven't dug into it, it's all yours @christiananese !

[2021-12-03 04:58] #3 closed

[2021-12-03 04:58] #19 closed

[2021-12-03 04:58] Dhaiwat10 commented on #19
Closed via #24

[2021-12-03 05:42] Dhaiwat10 commented on #10
Hey, do you need any help? Are you blocked?

[2021-12-03 05:48] etr2460 commented on #49
fyi https://github.com/Developer-DAO/web3-ui/pull/60 alters the storybook setup somewhat (puts both hooks and components into the same storybook) so you might need to rebase on it before PRing any work here. let me know if you need help!

[2021-12-03 06:10] #32 closed

[2021-12-03 06:23] Dhaiwat10 opened #61 "NFT component improvements"
- [ ] ENS support
- [ ] GIF support
- [ ] Video support
- [ ] Audio support

[2021-12-03 10:33] crondinini commented on #17
Hey @swellander, took the liberty of assigning you to this issue as I thought it was free to take because there was no one assigned.

[2021-12-03 10:35] crondinini commented on #27
Is there any further discussion needed? Seems like the improvements are in this other issue:
https://github.com/Developer-DAO/web3-ui/issues/33

[2021-12-03 10:40] crondinini commented on #39
Hey @swellander, are you working on both this one and https://github.com/Developer-DAO/web3-ui/issues/17? I want to make sure both are in progress.

[2021-12-03 10:48] crondinini commented on #33
@with-heart Could you elaborate on what more standard prettier settings would be?

[2021-12-03 10:49] Dhaiwat10 commented on #17
@crondinini @swellander , @RoguePenguins already put in a PR but we have put it on hold for now until we set the `@web3-ui/core` package up.

[2021-12-03 10:49] #27 closed

[2021-12-03 11:22] crondinini commented on #5
Closing this in favor of #7.

[2021-12-03 11:23] #5 closed

[2021-12-03 11:30] crondinini commented on #39
Copy/pasting relevant comment from another issue:
https://github.com/Developer-DAO/web3-ui/issues/36#issuecomment-983508910

I wanted to +1 on this.

[2021-12-03 11:33] crondinini commented on #36
Closing this in favor of https://github.com/Developer-DAO/web3-ui/issues/37

[2021-12-03 11:33] #36 closed

[2021-12-03 11:40] Ibby-devv commented on #42
@AlexNi245 Here's the URL you'll need to fetch a token's logo.

https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/assets/[tokenContractAddress]/logo.png

Ensure the address is in the Checksum format. EthersJs has a utility for this. See below.

// Injects the checksum (via upper-casing specific letters)
getAddress("0x8ba1f109551bd432803012645ac136ddd64dba72");
// '0x

[2021-12-03 11:59] Dhaiwat10 opened #65 "`<Avatar />`"

[2021-12-03 12:01] crondinini commented on #65
Ugh, the template doesn't get enforced if you open it from another issue. Do you mind opening an issue from clicking new issue and following the template so we can try it out?

[2021-12-03 12:02] Dhaiwat10 commented on #65
Hahah sure

[2021-12-03 12:02] #65 closed

[2021-12-03 12:09] Dhaiwat10 opened #66 "`<Avatar />`"
### Description

An Avatar component that renders the avatar NFT linked with an ENS would be handy.

https://defireport.io/nft/ens-now-supports-nft-avatars-for-your-profile/

### Why is this needed?

Quite a few people are using their ENS as their online identity now which includes linking one of their NFTs to their ENS as their avatar. It would be great if developers had an handy component that r

[2021-12-03 12:41] AlexNi245 commented on #42
Thank you for sharing this @Ibby-devv I'll try to get something working during the weekend!

[2021-12-03 12:51] swetshaw commented on #10
Hey, I was waiting to be assigned. Thanks, @crondinini for assigning 😃. On it 🙌

[2021-12-03 12:57] emanueltimlopez opened #67 "Improve the interface of useWallet hook"
Its hard to know what hook exposes.

I think we can declare an interface in the provider and only provide the connection properties when connection is success.

[2021-12-03 13:06] Dhaiwat10 commented on #67
@emanueltimlopez I think we still want to keep the current `connection` API. The `connection` object being the single source of truth & reactive store is something I really like. Let me know if you have other ideas and why, though! I'm open to new ideas.

The issue is with all those `undefined` and `null` cases. You'll often come across `context?.something` in the code which is not ideal. We want

[2021-12-04 14:23] emanueltimlopez commented on #67
i undertand, i think its a lot better now
<img width="609" alt="Captura de Pantalla 2021-12-04 a la(s) 11 16 04" src="https://user-images.githubusercontent.com/25184000/144712976-25f168a4-3860-46a9-b6e5-d69addc1fe7f.png">

BTW i dont have permission to push my branch @Dhaiwat10

[2021-12-04 20:30] etr2460 commented on #67
@emanueltimlopez if you don't have write permission to the repo, you can fork it, push a branch to your fork, and then open the PR here. The contributing md mentions forking, but i'll try to reiterate it so it's clearer

[2021-12-04 22:23] swellander commented on #39
@crondinini yep currently working on this one! It looked like @RoguePenguins was working on [#17](https://github.com/Developer-DAO/web3-ui/issues/17) so I switched to this issue.

As for TypeChain, could you maybe elaborate on a high level how the integration would work? I've never used the library, but after looking at it a bit I'm still unsure how we would generate types dynamically based off of

[2021-12-06 01:19] sherodtaylor commented on #66
@Dhaiwat10 shouldn't this resolve address instead of ens because most likely you will have the address from connecting your wallet.m

[2021-12-06 02:30] etr2460 opened #70 "Setup user docs"
In prep for releasing to npm, we should have docs on what components are available and how to use them. We should look into automated ways of generating docs based off the code

[2021-12-06 05:17] Dhaiwat10 commented on #66
@sherodtaylor I see your point. Changing it now

[2021-12-06 05:39] #70 closed

[2021-12-06 05:59] Dhaiwat10 opened #72 "[useWallet] Add support for wrong network detection"
The `useWallet` hook does not have any variable or method that notifies the consuming component about whether the user is connected to the right network or not. Something like this would be nice:

[code]

[2021-12-06 06:50] #9 closed

[2021-12-06 09:03] Dhaiwat10 opened #73 "Initialize the `@web3-ui/core` package"
As discussed in the Discord channel before, the `@web3-ui/core` package will be an opinionated package with an aim of providing *fully functional* UI components that work out-of-the-box. This package will be a combination of the `components` and `hooks` packages.

Will post more details and a demo soon.

- [x] Add the `@web3-ui/core` package to the monorepo
- [x] Create a `ConnectWallet` component

[2021-12-06 10:35] Dhaiwat10 commented on #67
@emanueltimlopez I have made some changes to the `useWallet` hook via #74. Please have a look at that PR and keep those in mind!

[2021-12-06 12:03] Nazeeh21 opened #75 "Custom Web3Modal providers"
In the **useWallet** hook, currently, we are providing support for Metamask and WalletConnect providers.
I have created PR #68 to add support for more providers.

This issue is created to discuss whether to provide support to pass any (custom) Web3Modal providers the user pleases. This is the continuation of the discussion from PR #68.

[2021-12-06 12:54] Dhaiwat10 commented on #75
This is the API I was thinking of for the `<Provider />` component in the `hooks` package:

[code]

[2021-12-06 12:55] Dhaiwat10 commented on #75
`walletProviders` being an optional prop, of course

[2021-12-06 13:35] sherodtaylor commented on #66
@Dhaiwat10 np or you can accept both do both a reverse + normal lookup and just call the field address as long as you document both can be used but most of the use case would be a reverse lookup tbh.

[2021-12-06 13:51] maximebonhomme opened #77 "Replace divisive language `master` to `main`"
gm frens 👋

### Why
We should move away from divisive/offensive language as much as we can. As a diverse and inclusive commuity it's our job to make sure everyone feels safe and welcome.

You can read more on [this statement](https://sfconservancy.org/news/2020/jun/23/gitbranchname/).

### How
Changing the default branch from `master` to `main` is very easy and can be done inside [the repo setting

[2021-12-06 17:05] etr2460 commented on #77
@Dhaiwat10 I think you should be an admin here. Could we make this change?

[2021-12-06 17:48] maximebonhomme commented on #77
I assume it automatically updates all PRs with `main` as destination but let's double check when making the change

[2021-12-07 00:34] Dhaiwat10 commented on #77
@maximebonhomme thanks for bringing this up. The template we were using unfortunately was quite old and was still using `master`. Renamed to `main` just now!

[2021-12-07 00:34] #77 closed

[2021-12-07 04:23] #72 closed

[2021-12-07 05:00] jwarshack commented on #66
is this closed?

[2021-12-07 05:21] Dhaiwat10 commented on #66
@jwarshack nope. Still up for taking

[2021-12-07 06:58] christiananese commented on #66
@Dhaiwat10  Someone already working on it?  If not I would assign myself.

[2021-12-07 07:01] jwarshack commented on #66
@christiananese @Dhaiwat10 I was going to take it on tomorrow, but you're welcome to give it a go if you'd like

[2021-12-07 08:38] miralsuthar commented on #10
Hey, @swetshaw are you still working on this if not, then I can start working on this.

[2021-12-07 09:24] christiananese commented on #66
@jwarshack all yours :rocket:

[2021-12-07 09:39] Nazeeh21 opened #83 "feat: Add dark theme in existing UI components"

[2021-12-07 11:27] #73 closed

[2021-12-07 14:29] christiananese commented on #49
Closing this [PR #80](https://github.com/Developer-DAO/web3-ui/pull/80)

[2021-12-07 14:29] #49 closed

[2021-12-07 14:38] maximebonhomme opened #86 "Update Address component to display shortened address"
### Description

Would be handy to be able to display a shortened version of the address as well as having a one click copy to clipboard functionality on it.

### Why is this needed?

Wallet addresses are far too long and in most cases we don't need to display it in full in our dapp.

Showing the first 4 and last 4 chars is usually enough to get a glimpse of which address we're using.

We usually

[2021-12-07 17:00] swetshaw commented on #10
Hey @miralsuthar , I am working on this, I am facing a problem in setting up the storybook on my system.

[2021-12-07 17:36] maximebonhomme commented on #86
Can anyone assign this to me @Dhaiwat10 ? Will aim to finish this by the 13th

[2021-12-08 01:43] Dhaiwat10 commented on #86
Done @maximebonhomme, thanks for taking the initiative on this one!

[2021-12-08 01:43] Dhaiwat10 commented on #10
@swetshaw how can we help you, what problems are you facing?

[2021-12-08 10:15] Dhaiwat10 commented on #75
@Nazeeh21 are you planning to address this issue in #68? If yes, please rename that PR and tag me when it's ready for review

[2021-12-08 10:16] Dhaiwat10 commented on #42
@AlexNi245 are you planning on working on this component since the hook has now been added?

[2021-12-08 10:17] Dhaiwat10 commented on #39
@swellander have you started working on this? Are you blocked in any way? How can I help you?

[2021-12-08 10:17] Dhaiwat10 commented on #8
Closing via #76

[2021-12-08 10:17] #8 closed

[2021-12-08 10:31] Dhaiwat10 opened #87 "The README is not being published to npm"
https://www.npmjs.com/package/@web3-ui/components
https://www.npmjs.com/package/@web3-ui/hooks

I published the `components` and `hooks` packages to npm using `yarn build` and `npm publish`. The README did not go through.

[2021-12-08 10:37] Nazeeh21 commented on #75
Yes, I'm planning to address this in #68. I'll rename that and tag you once it's ready for review.

[2021-12-08 11:28] christiananese commented on #87
I think that's the default behaviour.
As I'm aware of `npm publish` looks in the root of the package that's beeing published.

So for the hooks package, it looks for a `README` file inside the hooks folder, same for the components.

[2021-12-08 12:45] Dhaiwat10 commented on #87
@christiananese that makes sense. But the plan (for now) was to have a common LICENSE and README file. Is it possible for us to pull these two files from the root when building the individual packages?

[2021-12-08 15:22] #61 closed

[2021-12-08 16:16] swetshaw commented on #10
I do not have permission to create a branch on this repo, can someone give me the access?

@Dhaiwat10 @crondinini

[2021-12-08 21:00] AlexNi245 commented on #42
@Dhaiwat10 yes for sure. I actually needed the hook to make this component more useful :)

[2021-12-09 02:07] Dhaiwat10 commented on #10
@swetshaw you should have access now

[2021-12-09 03:48] swetshaw commented on #10
Thanks, I have pushed the branch

[2021-12-09 05:32] Dhaiwat10 commented on #10
@swetshaw can you create a PR and tag me there

[2021-12-09 21:04] swellander commented on #39
Hi @Dhaiwat10, thanks for offering to help. I'll share a bit of what I've been thinking so far and maybe you can let me know if I'm on the right track.

### Context
The current version of the `useContract` hook that I have right now looks like this:
[code]
The hook returns `contractInterface` which is intended to be an object with all of the contract's available methods, accessed through an [`ethe

[2021-12-10 00:26] joselvelez commented on #86
I just noticed this issue before submitting PR #91 with some of this functionality. Should I cancel my PR?

[2021-12-10 10:20] Dhaiwat10 commented on #86
@joselvelez no keep it for now. Let's wait until @maximebonhomme turns in their PR

[2021-12-10 10:43] Dhaiwat10 commented on #39
@swellander that's a great starting point, thanks for writing this up. Re. your questions:

1. > Are these like proxy methods that would accept the name of a property or method on the contract?

Yes. But now that I think about it, it's better to just do something like this for now:

[code]

Basically the same as calling the contract using `ethers`. I don't think making a distinction between `read`

[2021-12-10 11:05] #75 closed

[2021-12-10 12:44] maximebonhomme commented on #86
amazing @joselvelez just saw your PR. I haven't started working on this yet but feel free to work on this if you want, otherwise I'll make a start on this tomorrow :)

[2021-12-11 02:31] swellander commented on #39
@Dhaiwat10 got it. Thanks for the reply!

[2021-12-11 03:02] etr2460 opened #94 "Fix inconsistent NFT sizes"
Looks like when we added gif and video support, it broke consistent sizing for the component:
![image](https://user-images.githubusercontent.com/7409244/145661574-f0fe32ec-74f4-4a94-8e05-6d75624979d0.png)

I'll take on either resizing the content to fit in the box when it's a square, or adding padding around it so that we have consistency in sizing.

[2021-12-11 05:15] joselvelez commented on #86
I just added #95 to add the shorten functionality. It does not have the copy address functionality yet. I'm doing small bits to get a hang of making contributions. Let me know if you want to do the copy address piece.

[2021-12-11 12:00] maximebonhomme commented on #86
amazing thanks @joselvelez! Let's get that PR reviewed and merged and I'll work on the copy address functionality today 👍

[2021-12-12 10:31] rekpero commented on #66
Hey @Dhaiwat10 @jwarshack anyone taking this up, if not, I would like to contribute to this issue.
I have worked on ENS for my projects, might as well give this a try.

[2021-12-12 22:03] jwarshack commented on #66
Hey @rekpero! I am working on this right now.

[2021-12-13 09:19] hone1er opened #98 "TokenGate component"
### Description

I want to create a component that restricts access to all child components unless certain erc-20/erc-721 token requirements are met. It would take in a contract address and required number of tokens(defaults to 1) as props to determine access.

### Why is this needed?

I think adding this component would make it easier to restrict access to a small part or whole sections of UI bas

[2021-12-13 09:48] Dhaiwat10 commented on #98
@hone1er this will be extremely useful. We can even make a wrapper around this in the `core` package which will work flawlessly. Let's create this with the API you proposed in the `components` package for now!

[2021-12-13 09:48] Dhaiwat10 commented on #98
Should I assign you?

[2021-12-13 09:53] hone1er commented on #98
Yes please, i would love to work on this

[2021-12-13 10:31] #18 closed

[2021-12-13 13:39] #87 closed

[2021-12-13 16:44] Nazeeh21 commented on #83
Can I implement this?

[2021-12-13 16:48] Dhaiwat10 opened #107 "`preconstruct` dev builds are being published to npm"
https://unpkg.com/@web3-ui/components@0.1.1/dist/
https://codesandbox.io/s/confident-davinci-uce8t?file=/src/App.js

The current `publish` script does not run `yarn build` before publishing the packages to npm which is resulting in the dev builds being pushed to npm.

[2021-12-13 17:43] Dhaiwat10 commented on #107
The builds are still broken. :(

[2021-12-13 18:09] Dhaiwat10 commented on #107
Ok, so the problem is https://www.runpkg.com/?@rsksmart/rlogin-ledger-provider@1.0.2-beta.2. This is being used in the `hooks` package. This leads to errors such as these:
![image](https://user-images.githubusercontent.com/39617427/145865348-47837dd4-ac9f-4687-8b9a-1effb2321732.png)

The next plan of action is to remove the Coinbase and Ledger wallet providers from the `hooks` package. This will 1

[2021-12-13 18:12] #107 closed

[2021-12-13 18:12] Dhaiwat10 opened #112 "Remove coinbase and ledger wallet providers from the `hooks` package"
Context: https://github.com/Developer-DAO/web3-ui/issues/107#issuecomment-992737438

[2021-12-13 18:44] Dhaiwat10 opened #115 "Don't include `.dev.js` stuff in the build"
![image](https://user-images.githubusercontent.com/39617427/145869533-7d8c04c0-c280-4dc3-9231-b0c32a8609f6.png)

https://www.runpkg.com/?@web3-ui/core@0.1.0/dist/web3-ui-core.cjs.dev.js

This shouldn't be published to npm because when `process.env.NODE_ENV` is not `production`, the `dev.js` file is being used.

[code]

[2021-12-13 18:47] JoviDeCroock commented on #115
You can short-circuit this by changing `main` in `package.json` to `dist/web3-ui-core.cjs.prod.js` then it never enters that file

[2021-12-13 18:47] Dhaiwat10 commented on #115
@JoviDeCroock that's a great patch for now but in the long run we should aim to completely eliminate these `dev` assets from the npm bundle

[2021-12-13 18:48] Dhaiwat10 commented on #115
For now, I'm gonna use this hotfix

[2021-12-13 18:48] JoviDeCroock commented on #115
I think `preconstruct` always does this and doesn't seem to have a way to disable that 😅

[2021-12-13 18:49] Dhaiwat10 commented on #115
@JoviDeCroock that's horrifying if true

[2021-12-13 18:49] JoviDeCroock commented on #115
Also I think this bug is also present in production 😅 https://www.runpkg.com/?@web3-ui/hooks@0.4.0/dist/web3-ui-hooks.cjs.prod.js#238

[2021-12-13 18:51] JoviDeCroock commented on #115
Seems to have been talked about here https://github.com/preconstruct/preconstruct/issues/92#issuecomment-527333746

[2021-12-13 18:52] Dhaiwat10 commented on #115
Wow. I need to take a breather and get back to this tomorrow. Thanks for the help along the way man, really appreciate you

[2021-12-13 18:58] JoviDeCroock commented on #115
Got you covered mate! ❤️

[2021-12-14 05:50] #115 closed

[2021-12-14 14:37] Nazeeh21 opened #119 "Switch to correct network"
Whenever a user is on the wrong network, we will show a button to switch to the required network.
On clicking this button, the network will get changed to the required network instead of manually opening the MetaMask and changing the network.

[2021-12-14 15:01] Dhaiwat10 opened #120 "ENS resolution only working on mainnet"
Right now, if we try to resolve an ENS name on any other network than mainnet we get thrown an error. This is not ideal for a user. Can we create a mainnet provider in some way so that we can resolve ENS even if on a testnet? scaffold-eth does this.

[2021-12-14 17:29] swellander commented on #120
Hey @Dhaiwat10 - I can investigate and take a crack at this

[2021-12-14 19:22] Dhaiwat10 commented on #120
All yours @swellander

[2021-12-14 21:19] joselvelez opened #122 "Address Component: Enhancement - Implement EIP-3770: Chain-specific addresses"
This issue is to bring up the possibility of implementing EIP-3770 in the address component.

Details on EIP-3770 can be found here: https://eips.ethereum.org/EIPS/eip-3770

A thread by the Gnosis Safe team also provides more color on the need to implement EIP-3770 here: https://twitter.com/SchorLukas/status/1470700682562965504?s=20

We could add an optional prop to the address component to indica

[2021-12-15 16:09] #86 closed

[2021-12-15 17:15] maximebonhomme opened #124 "Address Component: Should use Text instead of Input"
### Description

We recently made some updates to the Address component and realised that it's rendering an `input` element instead of static text.

### Why is this needed?

This component is only used to display an address, it shouldn't need to use an `input`. Just some text would be enough.

### Proposed Solution or API

How about something like this:
[code]

This will display something unstyled

[2021-12-15 18:43] Dhaiwat10 opened #126 "`useTransaction` hook"
### Description

Yesterday, when trying to prepare a [Codesandbox demo](https://codesandbox.io/s/web3-ui-demo-ykvms) for `@web3-ui/hooks`, I felt that we could abstract out the `loading` and `error` state-handling for any transaction that goes through.

### Why is this needed?

The `error` & `loading` states can be better handled using a hook specifically designed to process one transaction.

###

[2021-12-16 11:34] #119 closed

[2021-12-16 11:45] Nazeeh21 opened #127 "Getting `window.ethereum` undefined in chromatic."
In PR #121, the chromatic build is failing because `window.ethereum` is getting undefined.

Link to the code where the build is failing.
https://github.com/Developer-DAO/web3-ui/pull/121/files#diff-057f7fb0926f94e0051a8155e9aa96e0e9bb0d283b24662271c49bf0918f86d5R12

[2021-12-17 08:19] Dhaiwat10 opened #128 "Remove `@emotion/core` from `components` package's dependencies"
I was trying to test out the combination of the `hooks` and `components` packages in a Codesandbox and I ran across this error after installing both of the packages. The error only appears if I also install the `hooks` package, not if I'm only using the `components` package.

![image](https://user-images.githubusercontent.com/39617427/146512295-c88fdfa6-11fe-4602-bc27-ca7a4fcdbd52.png)

[CodeSandb

[2021-12-18 19:05] etr2460 opened #133 "Unify error handling"
We're individually handling errors in a bunch of different components in different ways (are the errors of type string? any? unknown? Error?) and rendering errors in multiple ways (string with the error message, generic error message when `hasError` is true).

Let's standardize this everywhere and build some helpers for all the components (and new components) to use.

[2021-12-18 19:58] with-heart commented on #133
This is where a triage-minded person would be helpful by collecting examples of the various ways we're handling errors throughout the codebase in this thread. That would help us make an informed decision!

Pressed for time at the moment but if I get back around to this I'll try to collect those. Would love for someone else to step in and give it a try though! ❤️

[2021-12-18 21:35] #124 closed

[2021-12-20 10:13] #127 closed

[2021-12-20 10:32] #94 closed

[2021-12-20 10:32] cserb commented on #122
Can I pick that up?

[2021-12-20 14:47] revmischa commented on #133
I'd like to lay out a proposal, feel free to suggest other ideas.

We can create a simple base `Web3UiError` class extending error that is thrown whenever an error is raised. We could have a `Web3UiErrorBoundary` component that users could wrap their component tree in that catches `Web3UiError` errors and perhaps does some sort of "toast" action.
We could have an optional property on the error cla

[2021-12-20 14:49] joselvelez commented on #122
Absolutely! Just assign it to yourself. Thanks for stepping up! :)

[2021-12-20 21:54] with-heart opened #135 "Forward refs for all components"
One of the requirements of any component exported from `web3-ui` (or any React component library really) should be to wrap it in a call to `forwardRef`. This would enable our users to access the `ref` for any of our components.

If you're not familiar with `forwardRef`, the beta React docs have a section explaining it: https://beta.reactjs.org/learn/manipulating-the-dom-with-refs#accessing-another

[2021-12-20 22:07] with-heart opened #136 "Build step failing with `TS2742` error"
PRs with changes unrelated to `useWallet` appear to be failing at the Build step with the following message:

[code]

Example failure: https://github.com/Developer-DAO/web3-ui/runs/4571409517?check_suite_focus=true#step:7:15

[2021-12-21 13:16] #126 closed

[2021-12-21 14:29] Dhaiwat10 opened #137 "Accept any props that a `ChakraProvider` accepts into our `components` `<Provider />`"
The current `<Provider />` in the `components` package does not accept all the props that a `ChakraProvider` component. For example, if someone wanted to pass in a chakra theme to the `<Provider />` they wouldn't be able to.

The [AddressInput](https://github.com/Developer-DAO/web3-ui/blob/main/packages/components/src/components/AddressInput/AddressInput.tsx#L34) component does this well.

[2021-12-21 14:31] joselvelez opened #138 "Rename the core and hooks package directories"
I wanted to get some feedback on the possibility of renaming the core and hooks package directories. The current names might be making it confusing as to what each actually does.

![web3-ui-current](https://user-images.githubusercontent.com/48886275/146945940-8291ec14-aa98-4dc3-aebf-a25fa842e112.png)

If I wanted to use web3-ui without any of the styling or components, I don't think I could do so

[2021-12-21 16:14] with-heart commented on #138
This name scheme is somewhat unique to component libraries imo but it's fairly common to export hooks as the `/hooks` package with the "batteries included" package as `/core` (if only supporting a single framework) or `/react` (if supporting or intending to support more than one framework). I've seen that pattern followed by a number of component library-related libs like `@chakra-ui` and `@emotio

[2021-12-22 11:23] #98 closed

[2021-12-22 11:32] #2 closed

[2021-12-22 11:32] Dhaiwat10 opened #141 "Remove package-specific `yarn.lock` files. There should only be a single `yarn.lock` at the root."

[2021-12-22 11:32] Dhaiwat10 opened #142 "Remove duplicate `pre-commit-hook` scripts and `lint-staged` configs. We only need to define these in the root `package.json` for it to apply to everything in the workspace"

[2021-12-22 12:06] Dhaiwat10 commented on #133
@etr2460 @with-heart @crondinini would love to hear your opinions on the approach suggested by @revmischa!

I'm mostly a student in this department so I'm gonna learn from the sidelines 😄

[2021-12-22 12:08] #67 closed

[2021-12-22 12:08] Dhaiwat10 commented on #67
@allcontributors add @emanueltimlopez for code! <3

[2021-12-22 12:09] Dhaiwat10 commented on #83
@Nazeeh21 I think this will be easily solved via #137

[2021-12-22 12:10] #83 closed

[2021-12-22 12:27] JoviDeCroock opened #145 "Remove `cross-fetch` from dependencies"
Currently we're seeing a lot of unused dependencies and extraneous ones as well, currently we are leveraging `cross-fetch` in our components even though `effects` only run on the client. This means that for instance `fetchNFTData` and other relevant functions can just leverage the native browser fetch without us having to add the bundle-size for this. Most SSR frameworks inject their own fetch-pol

[2021-12-22 12:31] JoviDeCroock commented on #128
This was probably a dependency resolution bug, if you use this codesandbox link it should work now. `chakra-ui` needs this as a dependency so as long as we keep it in the v11 major we should be good to go on this aspect.

[2021-12-22 13:05] Dhaiwat10 commented on #128
@JoviDeCroock I understand that Chakra needs it as a dependency but it should only need _one_ of those two, shouldn't it? Sorry if I'm completely off-track and missing something

[2021-12-22 13:08] Dhaiwat10 opened #147 "Chromatic deployments are failing"
See [this workflow run](https://github.com/Developer-DAO/web3-ui/runs/4607080313?check_suite_focus=true) for more context

[2021-12-22 13:24] Dhaiwat10 commented on #120
@swellander any update on this one? Any blockers? How can I help? :)

[2021-12-22 13:43] Dhaiwat10 commented on #147
I've reached out to Chromatic support about this. Will hopefully hear from them soon

[2021-12-22 13:47] Dhaiwat10 commented on #147
Apparently it's an issue on their end and they are fixing it

![image](https://user-images.githubusercontent.com/39617427/147102419-9d62279a-df50-4359-a8ea-e108c80cfa20.png)

[2021-12-22 13:50] Dhaiwat10 commented on #147
https://github.com/chromaui/chromatic-cli/issues/485

[2021-12-22 14:12] JoviDeCroock commented on #128
Oh yeah, normally we can remove core. Mainly meant that it's working 😅

[2021-12-22 15:05] Dhaiwat10 commented on #147
It's fixed.

[2021-12-22 15:05] #147 closed

[2021-12-22 15:09] #33 closed

[2021-12-22 15:09] #141 closed

[2021-12-22 15:09] #142 closed

[2021-12-22 18:38] #128 closed

[2021-12-22 18:38] #145 closed

[2021-12-22 20:15] hone1er opened #151 "Address component throws error when shortened=true"
Address component throws error when shortened=true.

<img width="1011" alt="Screen Shot 2021-12-22 at 12 07 01 PM" src="https://user-images.githubusercontent.com/24376928/147149910-8b8e2817-0e98-4e75-afc3-30eb378c85db.png">
It works correctly when i set shortened to the line below but maybe it can be solved at the component level so the dev can just set true or false without getting this error.
<i

[2021-12-22 20:50] Ibby-devv commented on #151
It depends where the logic fits in. The person using the Address component should ideally check whether an address exists before passing it to the Address Component. Otherwise, simply put a null check in the Address component and render an empty string if so.

[2021-12-22 21:41] with-heart commented on #136
Not sure what resolved this issue but it appears it's no longer happening, so going to close this

[2021-12-22 21:41] #136 closed

[2021-12-23 07:01] swellander commented on #120
@Dhaiwat10 thanks for checking in. Still working on this. I'll be traveling until tomorrow evening and will post a more detailed update then.

[2021-12-23 13:32] txwkx commented on #151
I'd personally vote for **not** bringing an extra dependency in the form of a hook.

Ideally, the component should be agnostic of the system's state (whenever there is a connection or not) but have validations and checks in place to secure the graceful error handling

[2021-12-23 20:57] with-heart commented on #151
Yeah, I think this is the way to go. There's no reason an input should ever enter a state that causes the app to fail. It's the same way `<input value={undefined} />` works, where an invalid `value` like `null` or `undefined` just renders as an empty string.

[2021-12-24 00:56] hone1er opened #153 "UseWallet hook throws error if wallet is disconnected through metamask"
After connecting with the useWallet hook, if the user disconnects directly from the wallet 2 errors are thrown: "missing provider" and "unknown account #0(operation="getAddress"....)"

See video below

https://user-images.githubusercontent.com/24376928/147302858-9a6c877f-da33-4f7b-b5a0-bdb0d71ad9bd.mov

The code being used. This is a basic next-js app
<img width="1294" alt="Screen Shot 2021-12-23

[2021-12-24 10:37] Dhaiwat10 commented on #120
@swellander awesome. Was just checking in! Take your time 😄

[2021-12-24 14:11] Dhaiwat10 commented on #138
Both of you have a valid case here! I think we can keep `core` for now but we just need some minimal documentation around what each package does so that people know which package to choose.

[2021-12-24 17:12] Dhaiwat10 opened #154 "[Hooks] `connection` is `null` when the network changes"
The value of `connection` is coming out as `null` when `onNetworkChange` is called. This is causing a crash whenever someone tries to change the network once connected.

https://github.com/Developer-DAO/web3-ui/blob/main/packages/hooks/src/Provider.tsx#L119

[2021-12-24 17:28] Dhaiwat10 commented on #153
Found out the culprit for this. Fixing

[2021-12-24 17:41] Dhaiwat10 opened #156 "Lint the entire codebase with the new prettier config"
We recently changed our prettier config and as a result of that we are seeing a lot of unrelated formatting changes popping up in new PRs like [this one](https://github.com/Developer-DAO/web3-ui/pull/155#issuecomment-1000906868).

Let's just run prettier over the entire codebase once so that the entire codebase is in-line with the new prettier config.

[2021-12-24 17:46] #153 closed

[2021-12-24 17:46] #154 closed

[2021-12-24 18:21] #156 closed

[2021-12-24 18:35] Dhaiwat10 opened #159 "Prepare individual READMEs for each package"
At the moment, we are using a common README across all three of our packages. We should change that to make our packages easier for adoption.

- [x] #172
- [x] #160
- [x] #173
- [x] Update the publish config to use these new readmes instead of the current common one

I'm gonna create a readme for the components package first. If anyone wants to work on the other two, feel free to do so but please

[2021-12-24 18:35] Dhaiwat10 opened #160 "Create a readme for the components package"

[2021-12-24 18:40] #137 closed

[2021-12-24 20:30] Dhaiwat10 opened #165 "Export all the hooks from the `core` package"
At the moment, if someone wanted to use our hooks with the core package, they would have to install and initialize the hooks package separately. This is not what we want. The core package should be a batteries-included package that is ready to go.

We should export the entire contents of the hooks package from the core package too so that people can just do:

[code]

Instead of:

[code]

[2021-12-24 20:49] #151 closed

[2021-12-24 21:20] OrlundoHubbard commented on #135
Hey, y'all! I'd like to take this one!

[2021-12-24 21:21] Dhaiwat10 commented on #135
Thanks @OrlundoHubbard, all yours!

[2021-12-24 21:37] #165 closed

[2021-12-24 21:38] Dhaiwat10 commented on #120
Btw this could be useful: https://github.com/ensdomains/ui

[2021-12-24 22:24] Dhaiwat10 opened #167 "Loading status indicator / 'readiness' indicator for `useContract`"
Contracts take some time to load. Right now, if someone wrote this:

[code]

Then `greeterContract` will go through the following lifecycle:

[code]

Because of that weird empty object state in the middle, just doing
[code]
doesn't work.

We need to ship an indicator that notifies the user when the contract is ready. Something like:

[code]

[2021-12-25 02:39] CatalinCsnMaster commented on #167
Hello! 😁
Can I tackle this one? 🛠

[2021-12-25 07:20] Dhaiwat10 commented on #167
@CatalinCsnMaster sure! All yours

[2021-12-25 09:22] Nazeeh21 opened #169 "Input component with token select dropdown"
### Description

Develop an input component that allows users to select tokens from the dropdown and specify number of tokens in the input.
User needs to pass an array of tokens required as props to add in the dropdown.

### Why is this needed?

This component will enable users to select a number of tokens using an easy configuration and without the requirement of passing the address of the token.

[2021-12-25 09:26] #160 closed

[2021-12-25 10:45] Dhaiwat10 opened #172 "Create a readme for the hooks package"

[2021-12-25 10:45] Dhaiwat10 opened #173 "Create a readme for the core package"

[2021-12-25 10:45] Dhaiwat10 commented on #172
@Nazeeh21 has volunteered to take up this one

[2021-12-26 05:03] akshatamohanty commented on #173
@Dhaiwat10 happy to take this up ^ - trying to use `web3-ui/core` in a side-project, will be digging through the code anyway :)

[2021-12-26 07:13] Dhaiwat10 commented on #173
@akshatamohanty Thanks!! ❤️

[2021-12-26 07:14] Dhaiwat10 commented on #173
Feel free to use the [README for the components package](https://github.com/Developer-DAO/web3-ui/blob/main/packages/components/README.md) as a reference.

[2021-12-26 09:38] Nazeeh21 opened #174 "Enhance `useTransaction` hook"
Currently, we are passing the function arguments while calling the `useTransaction()` hook.
Instead of that, we should pass the function arguments while calling the method returned from this hook.

Refer to [this](https://twitter.com/dhaiwat10/status/1475035600877092868?s=20) tweet for more reference.

[2021-12-26 10:23] Ibby-devv commented on #174
I can tackle this if nobody is yet assigned to it.

[2021-12-26 10:30] Nazeeh21 commented on #174
Sure.

[2021-12-26 10:49] Dhaiwat10 opened #175 "Add tests for our hooks"
None of our hooks have tests at the moment. Not good. Let's add tests so that we know when some shit breaks.

- [x] #176
- [ ] #177
- [x] #178
- [ ] #179

[2021-12-26 10:49] Dhaiwat10 opened #176 "Add tests for `useWallet`"

[2021-12-26 10:49] Dhaiwat10 opened #177 "Add tests for `useContract`"

[2021-12-26 10:49] Dhaiwat10 opened #178 "Add tests for `useTransaction`"

[2021-12-26 10:49] Dhaiwat10 opened #179 "Add tests for `useTokenBalance`"

[2021-12-26 11:32] mathdroid commented on #120
ENS **should** only work in mainnet IMO. Should be a non-issue

[2021-12-26 12:57] Dhaiwat10 commented on #120
@mathdroid would love to hear why you think so if possible ❤️

[2021-12-27 05:38] #176 closed

[2021-12-27 07:58] Ibby-devv commented on #174
I have a question regarding this hook. There doesn't appear to be a provider being used to make the contract call, is this correct?

[2021-12-27 08:59] carlomigueldy commented on #179
Beastmode @Dhaiwat10

[2021-12-27 15:25] joselvelez commented on #138
Sounds good. I'll close this issue and we can work on some documentation instead. Thanks!

[2021-12-27 15:25] #138 closed

[2021-12-27 16:26] Dhaiwat10 opened #182 "Setup a Next.js example"
At the moment, we don't have an example app demonstrating our project. We should have one. (The `example` folder in the main branch is broken and doesn't do anything)

I tried creating a Next.js app inside the `example` folder at the root of the project using `yarn create next-app example --ts` and ended up with the usual Next.js starter template. I then did `yarn add @web3-ui/core` inside the `ex

[2021-12-28 03:09] ankurdaharwal commented on #120
I agree with @mathdroid, ENS names only exist and should work on mainnet.

[2021-12-28 12:51] Dhaiwat10 commented on #120
I see, but why would it be a bad idea to have them on testnets too? Is there a security or identity related issue? I'd love to learn more about the reasoning behind 'they should only work on mainnet'

[2021-12-29 03:55] Ibby-devv commented on #182
Did you add Web3ui/core as a dependancy?

[2021-12-29 13:04] Dhaiwat10 commented on #167
@CatalinCsnMaster hey just checking in! Do you have any blockers? How can I help?

[2021-12-29 14:31] CatalinCsnMaster commented on #167
@Dhaiwat10 Hello! I was blocked for a second by the thought that this is too easy 😅
Anyhow, I made a PR, please review it when you have the time and if there are any improvements that I can make, please let me know.
Also, do I need a Changeset?

[2021-12-29 15:07] Dhaiwat10 opened #186 "Add message signing support"
Right now our `useWallet` hook does not have any utility methods that let the devs request a signature from the user.

This is a widely-used functionality in the ecosystem and we should have this!

[2021-12-29 15:17] Dhaiwat10 commented on #167
@CatalinCsnMaster I think you need a `patch` for the `hooks` package.

[2021-12-29 15:22] Dhaiwat10 commented on #167
Actually, I think we need a `minor` bump lol. Sorry for the confusion @CatalinCsnMaster

[2021-12-29 15:28] CatalinCsnMaster commented on #167
I've put a minor bump in hooks package 😄

[2021-12-29 16:28] #167 closed

[2021-12-29 20:47] with-heart commented on #135
I created an example conversion for `NFTGallery` with some comments explaining the change: https://github.com/Developer-DAO/web3-ui/commit/dc958d6dd777548800f395abb538fbac85a33085

[2021-12-30 10:54] Dhaiwat10 commented on #135
Thanks @with-heart that's so well-made! Huge learning exp for me too

[2021-12-30 21:57] OrlundoHubbard commented on #135
Thanks, @with-heart this was a phenomenal example!

[2021-12-31 10:01] Nazeeh21 opened #190 "Add docstring for `useContract` and `useTokenBalance` hook"
Add docstring for `useContract` and `useTokenBalance` hook. For reference, have a look at the docstring or `useTransaction` and `useWallet` hook.

[2021-12-31 10:21] #182 closed

[2021-12-31 11:54] #172 closed

[2021-12-31 12:06] #66 closed

[2021-12-31 12:13] Dhaiwat10 opened #195 "Add keywords for our packages"
Keywords show up on npm on our packages' pages and help with discovery. We should add a keywords field to our `package.json`s.

![image](https://user-images.githubusercontent.com/39617427/147822764-d7e4caa6-bcea-43c2-8833-9346f2973181.png)

[2021-12-31 12:21] #195 closed

[2021-12-31 12:33] Dhaiwat10 opened #197 "Return contract function type definitions from `useContract`"
At the moment, the contract instance that the `useContract` hook returns is just a simple contract object returned from an `ethers` contract initialization. It does not contain any type definitions. We should add this.

[code]

[2021-12-31 12:49] carlomigueldy commented on #197
I'll tackle this

[2021-12-31 16:47] Dhaiwat10 commented on #197
@allcontributors please add @carlomigueldy for code and documentation

[2022-01-01 00:16] hone1er opened #200 "Add ENS lookup as an option directly from Address component"
By default it should not do an ENS lookup but if set to `ensLookup=True` or something similar it should be able to do the lookup.

This would be very helpful for user-interfaces that contain list of address but don't have access to `connection.ens` for each of them. Think of a etherscan like interface or an NFT collection gallery that wants to display the ENS name of the owner if they have one.

[

[2022-01-02 09:49] akshatamohanty commented on #173
@Dhaiwat10 raised a PR - https://github.com/Developer-DAO/web3-ui/pull/201

btw, what's the difference between `components` and `core` - both seem to be a set of React components right now?

[2022-01-03 10:16] Dhaiwat10 opened #202 "Use static RPC providers for read-only contract functions"
At the moment, the user must have connected their wallet in order for contract to be loaded and thus any contract functions to work. This shouldn't be the case. Read-only function calls don't require a signer.

We should think of using just the `provider` for read-only functions and a `signer` for the write functions. This will probably require a drastic re-factor.

Reference: [scaffold-eth](https

[2022-01-03 11:23] #173 closed

[2022-01-03 11:29] Dhaiwat10 commented on #173
Hey @akshatamohanty, happy new year!

The main difference between those packages is that the `core` package is supposed to be plug-and-play & opinionated. The `components` package is supposed to just provide the general UI layout but it won't 'fetch' anything or 'do' anything for you. Basically: if you want to get started quickly -> go with core, if you want to have more control -> go with compone

[2022-01-03 15:37] Dhaiwat10 commented on #200
I think we can start by adding that `ensLookup` prop and setting it to `true` by default. I want to set it to `true` by default because I'm assuming most people using our components will want ENS lookups but in cases like the one you mentioned, it is ideal to not do the lookup.

[2022-01-03 15:53] Dhaiwat10 commented on #174
@Ibby-devv just checking in! Do you need help in any way? Any blockers?

[2022-01-03 15:54] Dhaiwat10 commented on #159
![image](https://user-images.githubusercontent.com/39617427/147951560-1268cfb5-2437-465a-b324-6ed6a0392c90.png)

[2022-01-03 15:54] #159 closed

[2022-01-04 11:01] #202 closed

[2022-01-05 04:02] Redarcher9 commented on #190
Hi @Nazeeh21, I would like to work on this issue. Can you assign this to me?

[2022-01-05 12:45] Nazeeh21 commented on #190
Sure, please go ahead

[2022-01-05 13:10] Dhaiwat10 opened #209 "Core package development checklist"
Let's use this as a place to track the development of stuff for the `core` package.

- [ ] #210
- [x] #211
- [x] #212

^ Most if not all of the above components exist in the `components` package. Their `core` package counterparts should be made on top of them.

[2022-01-05 13:10] Dhaiwat10 opened #210 "[core] `AddressInput` that works without having to pass in stuff like rpcUrl / provider etc"

[2022-01-05 13:11] Dhaiwat10 opened #211 "[core] `Address` component that works without having to pass in provider etc"

[2022-01-05 13:11] Dhaiwat10 opened #212 "[core] `TokenGate` component that fetches balance and handles logic etc"

[2022-01-05 15:09] Dhaiwat10 opened #213 "Add support for ERC721 and ERC1155 tokens in `TokenGate`"
At the moment the `TokenGate` (in the core package, PR coming) only works with ERC20 tokens like $USDT. Some people/DAOs like to token-gate their content via NFTs. We should let them do this.

## Proposed API

[code]
- [x] #221
- [x] #222

[2022-01-05 16:46] #212 closed

[2022-01-06 11:08] Redarcher9 commented on #190
Hi @Nazeeh21 , I've added the Docstring comments to add-DocString-useContact-useTokenBalance branch locally but not I'm not able to push the code.
Does it have anything to do with permissions?
<img width="1025" alt="Screenshot 2022-01-06 at 4 37 04 PM" src="https://user-images.githubusercontent.com/19843336/148373799-5946a0c2-e1d9-4e54-a06a-c4bed774499f.png">

[2022-01-06 11:39] Nazeeh21 commented on #190
Yes, you can't push directly unless you have push access to the repo.

You have to fork the repo from the button on top right and then make changes to that repo and once you are done with that, then create a PR from your forked repo to this repo.

Lmk if you have any doubts or encounters any error.

[2022-01-06 11:54] Redarcher9 commented on #190
Hi @Nazeeh21 ,
Thanks for your help :)
I've raised a pull request for this issue.

[2022-01-06 12:55] Nazeeh21 commented on #190
Awesome, can you tag me over there so that I can have a look

[2022-01-06 13:30] Ibby-devv commented on #211
I don't believe the Address component requires a provider at the moment does it?

[2022-01-06 14:34] Redarcher9 commented on #190
Sure, I've tagged you in the PR. Let me know if there's any changes are required.

[2022-01-06 23:25] Dhaiwat10 opened #219 "Rename `useContract` to `useWriteContract`"
Reasons why I think we should do this:

- The `useContract` hook needs a signer in order to function. It does not even load the contract if a signer isn't there.
- In cases where we don't need a signer (eg. when we only want to read from the contract), we now have `useReadContract`.

Would love to hear everyone's thoughts if anyone has any

[2022-01-06 23:31] Dhaiwat10 opened #220 "Move `ethers` to peer dependencies"
After some discussion, the team has some consensus over moving `ethers` to peer dependencies instead of having it as a dependency. [Read the discussion here](https://discord.com/channels/883478451850473483/913935677404631110/928279789184364574)

When we work on this issue, we should also remember to add some documentation around this. We should especially tell our users to install `ethers` alongsi

[2022-01-06 23:39] Dhaiwat10 opened #221 "[core] Add support for ERC721 tokens in the `TokenGate`"

[2022-01-06 23:39] Dhaiwat10 opened #222 "[core] Add support for ERC1155 tokens in the `TokenGate`"

[2022-01-08 15:49] with-heart opened #225 "Remove `engines` key from `package.json` files"
We currently specify the following value:

[code]

This causes installation of our packages to fail for anyone that isn't using `node@>=16` or `yarn@^1.5`, meaning that anyone using an earlier version of `node` or a later version of `yarn` won't be able to install our packages.

Since our packages are transpiled (`babel`+`typescript`) and don't require a specific `node` version to use because they

[2022-01-08 15:51] with-heart commented on #225
An example of this failure comes from CodeSandbox:

[code]

This is particularly bad for us because ideally we'd want bug reports to be filed with a CodeSandbox reproduction. Since CodeSandbox uses `node@14`, this is currently impossible.

[2022-01-08 16:11] with-heart opened #227 "Clean up shared dependencies"
Since we're using a monorepo via `workspaces`, we can clean up a lot of the duplication of `devDependencies` across our packages by moving them to the root `package.json` file's `dependencies array.

This will make it much easier to understand which `dependencies`/`devDependencies` are relevant only to a single package vs. which are used globally.

[2022-01-08 16:13] with-heart opened #228 "Add `eslint`"
Something I've noticed while poking around in the `web3-ui` codebase is that I'm frequently ending up with different formatting (trailing commas, etc.) than our `prettierrc` file specifies. This is due to the fact that only some of us have `prettier` set to auto-format on save.

To resolve this, we should add `eslint` to the project. This allows contributors to see formatting failures locally and

[2022-01-08 17:03] with-heart opened #230 "Replace uses of `null` with `undefined`"
— [Sir Tony Hoare](https://en.wikipedia.org/wiki/Null_pointer)

JavaScript unfortunately has two billion-dollar mistakes: `null` and `undefined`.

While we can't remove them from the language, we can reduce our usage down to a single type. I'd like to propose that we replace all uses of `null` with `undefined`.

The reason I suggest `undefined` is due to its natural existence through JavaScript an

[2022-01-10 15:09] Dhaiwat10 commented on #211
@Ibby-devv for ENS it does, I think

[2022-01-11 00:53] #10 closed

[2022-01-11 01:23] #174 closed

[2022-01-11 01:41] #197 closed

[2022-01-11 01:44] #225 closed

[2022-01-11 01:49] #228 closed

[2022-01-11 02:09] #190 closed

[2022-01-11 02:55] Redarcher9 commented on #230
Hi @with-heart ,
Can I take this up?

[2022-01-11 23:06] #42 closed

[2022-01-11 23:47] #200 closed

[2022-01-11 23:57] #227 closed

[2022-01-12 09:06] Nazeeh21 commented on #169
I've been busy for the past couple of days and thus this one got delayed, sorry for that.  Finally started working on this, PR for this one will be up soon.

[2022-01-12 16:33] with-heart commented on #169
What do we imagine the API looking like for this component? Could you write a code sample of how someone would use it?

[2022-01-12 16:36] with-heart commented on #219
I think this makes sense! It adds a lot of clarity to the fact that there are differences between read/write and how they're used.

[2022-01-12 17:49] AlexNi245 commented on #179
@Dhaiwat10 i can tackle this, if you don't mind :)

[2022-01-12 20:11] etr2460 commented on #230
I don't want to bikeshed too much on this issue, but I would propose we keep nulls and undefineds, but clearly specify when to use one or the other. Typically, I've used them to represent the following:

Undefined means we don't know the value of something yet. This could mean we're waiting for an API response to populate it, user input, or something else.

Null means we know the value, and that v

[2022-01-13 09:45] Nazeeh21 commented on #169
@with-heart Yeah sure. I've created a gist [here](https://gist.github.com/Nazeeh21/ec736129164cf8276075b74a0563e556). I've also added some comments related to that.

Happy to hear your thoughts on this idea.

[2022-01-13 21:34] with-heart commented on #230
That's interesting that you lay that case out @etr2460 because I used to hold the same view. I was pushing for essentially the same idea at my last startup I worked for and ran into a few issues:

- That concept is just not a part of the worldview of most devs, even among the more senior js devs that I worked with
- The value of trying to add that concept to everyone's worldview didn't work very w

[2022-01-14 04:27] hone1er commented on #211
I'm actually going to take this. But i can solve it on the component level with a different ethers method than the one currently being used.

[2022-01-14 04:46] hone1er commented on #211
Could i change the component to require a provider instead of the RPC URL?

I was doing some more digging around. Could we use this code for connecting to a provider in the regular component??

`const provider = new ethers.providers.Web3Provider(window.ethereum, "any");`

That way we get rid of the RPC URL currently used to connect to a provider.

[2022-01-15 21:49] codingwithmanny opened #242 "Add ViteJS Example"
**Context:**

After trying to setup `web3-ui` locally with [vitejs](https://vitejs.dev), I ran into blockers that preventing using the library.

**Proposal:**

Organize the examples folder to separate the different react platforms you can use to serve react with.

**_NOTE:_** This would be a first pass of supporting just vitejs as an example and then adding more and more in different issues/pull r

[2022-01-15 22:11] codingwithmanny opened #243 "Support Testnets NFT & NFT Gallery"
### Description

**Context:**

When trying to use `NFT` from `@web3-ui/components` on the OpenSea's testnet, unfortunately the components would not work or allow using testnets supported by OpenSea.

### Why is this needed?

The main reason for this is to allow support for images on testnets to avoid pushing solidity contracts to production, which is expensive, just to be able to see what test res

[2022-01-15 22:49] codingwithmanny commented on #242
Spoke with @Dhaiwat10 offline, I'm taking this one.

[2022-01-16 00:28] codingwithmanny opened #245 "Add CRA Example"
**Context:**

After trying to setup `web3-ui` locally with [CRA](https://create-react-app.dev).

**Proposal:**

Organize the examples folder to separate the different react platforms you can use to serve react with.

**_NOTE:_** This is just CRA as an example and then adding more and more in different issues/pull requests.

_Example:_ Proposed folder structure.

[code]

**Goal:**

Give more exampl

[2022-01-16 00:29] codingwithmanny commented on #245
@e-roy Has mentioned he would like to take this on.

[2022-01-16 00:47] e-roy commented on #245
I'll replicate the ui from the [PR](https://github.com/Developer-DAO/web3-ui/pull/244) when it gets merged if that works

[2022-01-16 20:06] Dhaiwat10 opened #246 "The error message in NFTGallery doesn't go away when the address changes"
If there's an error in the NFTGallery component when trying to fetch the NFTs and you then change the address or re-fetch the NFTs, the error does not go away even if this time the request goes through. This is probably due to us not setting `error` to `null` when re-fetching.

https://user-images.githubusercontent.com/39617427/149676086-80ffdd2b-41d3-40b0-8ce7-db45b27e0482.mov

[2022-01-16 23:34] CatalinCsnMaster commented on #246
Hello! Can I tackle this one?

[2022-01-16 23:44] Dhaiwat10 commented on #246
Sure @CatalinCsnMaster

[2022-01-17 00:53] Dhaiwat10 opened #247 "[core] Network switch component"
### Description

We should have a network switch similar to the one seen at [Uniswap](https://app.uniswap.org/#/swap) that lets people easily switch between networks.

This network switch component should automatically send a network change request to the users' wallet when they click on an option from the dropdown.

### Why is this needed?

Different web3 apps run on different networks so it is c

[2022-01-17 02:20] CatalinCsnMaster commented on #246
@Dhaiwat10 I made a PR, but is giving me chromatic error, about CHROMATIC_PROJECT_TOKEN, is it something that I can do?

[2022-01-17 03:21] Dhaiwat10 commented on #246
There's nothing you can do about that. Chromatic does not work with forks at the moment. It's fine, don't worry

[2022-01-17 19:15] ngnathan commented on #219
I can take this on as my first issue!

[2022-01-18 19:31] #219 closed

[2022-01-18 20:22] Dhaiwat10 opened #251 "Create a documentation site containing usage examples"
We need a website for the project that contains detailed documentation and guides for usage for each component and hook.  Even a basic gitbook would do for a start.

[wagmi](https://wagmi-xyz.vercel.app) is a good example that we can use as a reference. Shoutout to Rahat for suggesting this.

- [x] #252
- [x] #305
- [ ] Migrate existing docs that we have in READMEs to the Gitbook
- [ ] Write in-de

[2022-01-18 20:25] Dhaiwat10 opened #252 "Setup Gitbook"

[2022-01-19 03:19] Dhaiwat10 commented on #120
@swellander so we now have `useReadOnlyProvider` which accepts an RPC URL and returns a provider. We are also accepting a new prop called `rpcUrl` in our `Provider` wrapper. Maybe we can make use of that?

[2022-01-19 12:03] Nazeeh21 commented on #251
That's a great idea.
I'd like to write the in-depth guides and examples for `web3-ui`.

[2022-01-19 17:32] with-heart commented on #251
In light of the fact that Gitbook doesn't support dark mode, I'd like to propose that we build something custom for ourselves, because I think that'd be a good chance for us to teach some more advanced details of setting up a project with static content like this.

Happy to take the lead on this if that sounds good to yall. imo stack would be:

- Nextjs
- Chakra for styling
- `mdx` for Markdown pa

[2022-01-19 17:39] Nazeeh21 commented on #251
@with-heart I agree with you. Even I'm up for this task. ☝️

[2022-01-19 23:15] #211 closed

[2022-01-19 23:20] Dhaiwat10 commented on #251
@with-heart I think that project would be great from the educational POV. I think we should go ahead with it for that reason.

While that project gets done, I propose using Gitbook as a temporary solution so that we have _something_ up. Does that sound good?

[2022-01-20 09:18] #246 closed

[2022-01-20 09:50] Dhaiwat10 opened #256 "Where we are and how we should proceed"
Now that we are a few months in with this project, I think this is a good time to take a step back and evaluate the state of the project. In my opinion, we should think about and discuss some of the following topics:

- Are we on the right track to achieve what this project was supposed to be?
- Is this project useful for people? If not, how can we make it more useful?
- Is there anything about th

[2022-01-20 17:04] joselvelez commented on #256
Thank you for bringing this up Dhaiwat. It is a good idea to take some time at this point to assess the project's current path and determine if anything can be improved upon.

Something that has concerned me is the integration of a specific styling library. I have nothing against chakra, but I think that being opinionated about a specific styling library could turn potential users away. While I ha

[2022-01-20 20:24] #242 closed

[2022-01-21 04:04] dfimbres commented on #230
Can I be assigned this one.

[2022-01-25 11:08] ImRajdeepB opened #259 "switchToCorrectNetwork fails if the requiredNetwork is moonriver"
When metamask is set to mainnet, and I want to switch to moonriver (chainId 1285), I'm getting error code 4902. This is most likely because a different [chainId/rpcUrl](https://github.com/Developer-DAO/web3-ui/blob/43d7031185f683e9e64329ba020bd721502dc513/packages/hooks/src/hooks/useWallet.ts#L58) is being added to handle the error: https://github.com/Developer-DAO/web3-ui/blob/43d7031185f683e9e64

[2022-01-25 16:00] berteotti opened #261 "Switch array `args` to `arguments` on `execute` from `useTransaction`"
It's easier to call this function as we were calling the original function.

Current implementation:

[code]

Suggested implementation:

[code]

[2022-01-25 20:47] tylerjharden commented on #256
What immediately comes to mind for me, in addition to the Chakra opinion (I've never used Chakra), is compatibility with something like Hardhay or ethers.js

Some of the core components like Providers and TokenGate seem spiritually parallel to some other Ethereum/Polygon React Boilerplate libraries, so what is the pro/con or differentiator here?

I'm building several dApps and related tooling for

[2022-01-26 23:18] codingwithmanny commented on #245
@e-roy you still up for the CRA implementation?

[2022-01-28 02:10] e-roy commented on #245
@codingwithmanny so I created a  [fork](https://github.com/e-roy/web3-ui/tree/cra-example)

I have a few questions on this before creating a PR

1. Do the examples need to be in the workspaces?
I had trouble getting packages to load properly using workspaces.  I noticed both of the other examples had yarn.lock files.

2. I replicated the vitejs example for this.  The only difference is in the vite

[2022-01-28 07:07] Dhaiwat10 commented on #230
Feel free to take it @dfimbres

[2022-01-28 09:21] Dhaiwat10 commented on #261
Thanks, that's a great suggestion. I'll take care of this.

[2022-01-28 09:24] berteotti commented on #261
I would like to contribute. I can do it if you don't mind 😉

[2022-01-28 09:25] Dhaiwat10 commented on #261
Oh of course, go ahead!

[2022-01-28 09:28] Dhaiwat10 commented on #259
Thanks for pointing this out. @Nazeeh21 since you implemented this (if I'm correct), why are we switching to/ adding the chain number 61 (which is ETH Classic)?

[2022-01-28 10:14] Nazeeh21 commented on #259
Thanks for pointing this out. Instead of `0x61`, there must be the `chainId` passed by the user along with the RPC URL of that chain id. `0x61` was for testing purposes.

[2022-01-28 11:19] #243 closed

[2022-01-29 00:48] Derked opened #273 "Chain Id Formatted Incorrectly When Changing Networks"
When changing networks/blockchains the Web3 context incorrectly updates the Chain ID from hexadecimal. For example, the localhost chain Id is stored as 1337 in decimal, but 0x539 in hex. The current formatting for 'chainChanged' just rips the 0x off the front instead of a conversion to decimal.

Example: If you are on mainnet and switch to localhost, the chainId in the Web3 context will update to

[2022-01-31 14:05] juliankrispel opened #277 "WalletConnect close event not currently handled"
Steps to reproduce:
1. Add web3-ui to your project
2. Render Provider component
3. Start app and click on "Connect with WalletConnect"
4. Results in `Unhandled Rejection (Error): User closed modal`

![image](https://user-images.githubusercontent.com/1188186/151807289-8be6dc1a-3b5f-4442-95fa-0b2a2edb028f.png)

[2022-01-31 17:25] Dhaiwat10 opened #278 "`yarn publish:npm` is broken"
`yarn publish:npm` is trying to publish the `vitejs` package too alongwith our three packages. Logs:

[code]

[2022-01-31 17:49] Derked commented on #273
@Dhaiwat10 This will be a problem on any chain where the hex conversion to decimal is not equivalent to ripping the 0x off the front. For example since Ethereum mainnet is chain ID 1 and Rinkeby is chain id 4, you won't have any issues since 1 is 0x1 in hex and 4 is 0x4 in hex.

However, for something like Moonriver which is chain ID 1285 in decimal, the hex equivalent is 0x505. When switching to

[2022-01-31 17:57] #278 closed

[2022-01-31 17:59] Dhaiwat10 commented on #273
@Derked Ahh I see. This is a critical bug. Thanks for catching this

[2022-01-31 18:00] Dhaiwat10 commented on #273
@Derked do you want to work on this one? I can help you get your local environment all setup if needed

[2022-01-31 18:05] #261 closed

[2022-01-31 18:25] Derked commented on #273
@Dhaiwat10 Yea I'm happy to do it if I can get WSL to behave. I'll connect with you to spin it up.

[2022-02-01 05:16] juliankrispel opened #282 "Bug: CI workflow fails for any pr from a forked repository"
The step: "Chromatic Deployment" fails for any pr from a forked repository because a secret required for this step is not available in other repositories:

![image](https://user-images.githubusercontent.com/1188186/151916303-cf08c961-8a18-43b2-8a95-e3a6affe9097.png)

[2022-02-01 06:55] #282 closed

[2022-02-01 12:10] juliankrispel opened #285 "Bug when switching networks (via walletconnect)"
Steps to reproduce:
1. Connect via ConnectWallet
2. Switch chain
3. Exception occurs: `Unhandled Rejection (TypeError): newChainId.split is not a function`

![image](https://user-images.githubusercontent.com/1188186/151966142-622b5c3a-e8d4-4151-8cd5-5afa73b6d221.png)

[2022-02-02 06:56] elijahhampton commented on #177
Hello, I can take this one if you don’t mind.

[2022-02-02 06:59] elijahhampton commented on #186
Hello 👋🏿 I would be happy to contribute and handle this issue.

[2022-02-02 14:39] Dhaiwat10 commented on #177
All yours

[2022-02-02 19:41] e-roy opened #288 "`@web3-ui/core@0.5.2` exports unpublished `useWriteContract` hook from `@web3-ui/hooks`"
I noticed when using the newer version 0.5.2 I was getting this error

![web3-ui-error](https://user-images.githubusercontent.com/70700747/152224533-60ec8803-4116-43ff-9068-141a0b0ccc3b.png)

My current solution is using `@web3-ui/core@0.5.1`

[2022-02-03 04:13] with-heart commented on #288
After investigating, here's what happened:

- `useContract` was renamed to `useWriteContract` (#249)
	- no changeset file was created for this change
- other changes were made to `@web3-ui/core`
	- these changes included changesets targeting `@web3-ui/core`
- `changesets` opened a PR to version packages using changes from changeset files (#254)
	- this is where `@web3-ui/core@0.5.2` was published

[2022-02-03 14:20] shamoilarsi commented on #273
hey @Dhaiwat10 is this issue being worked on? I'd like to take a look as well.

replacing `+newChainId.split('0x')[1];` with `+newChainId` should be a quick fix?

[code]

[2022-02-03 23:00] jwarshack opened #290 "Connect button to prompt user to add a custom network"
### Description

Just realized you are able to prompt Metamask to automatically add a custom network for the user. If a Dapp only supports a Layer 2 or Polygon for example, the user can add the network to their Metamask extension without having to add the chain id, rpc url, etc manually.

### Why is this needed?

Makes for a better UX.

### Proposed Solution or API

Chainlist has a dashboard where

[2022-02-04 06:50] #288 closed

[2022-02-04 06:59] Dhaiwat10 commented on #186
@elijahhampton I saw you picked up one issue already. Wanna work on that one first?

[2022-02-04 15:24] Canopix commented on #290
I like this idea only if the user can introduce the data for itself, avoiding that some malicious app that uses this library injects a fake version of RPC of a specific Chain.

We need to ensure that the user can verify that the data is the real data and not any fake RPC

[2022-02-05 10:33] Dhaiwat10 commented on #220
Bump

[2022-02-05 22:55] swellander commented on #120
Hey @Dhaiwat10 I agree with @mathdroid and @ankurdaharwal that we shouldn't resolve mainnet ENS domains if the user is on alt networks. If a user has an ENS domain registered on the Rinkeby testnet for example, they should be able to see that name when on Rinkeby.

[2022-02-06 20:04] Dhaiwat10 commented on #178
Thanks @swellander

[2022-02-06 20:32] #277 closed

[2022-02-07 20:17] #220 closed

[2022-02-07 20:19] #259 closed

[2022-02-07 20:34] #178 closed

[2022-02-07 22:31] Dhaiwat10 commented on #247
Thanks @swellander

[2022-02-08 08:53] Dhaiwat10 commented on #273
@shamoilarsi nope, I can assign it to you if you want to work on it

[2022-02-08 09:10] shamoilarsi commented on #273
yup I'd like to take it. how does my approach sound [here](https://github.com/Developer-DAO/web3-ui/issues/273#issuecomment-1029037443)?

[2022-02-10 13:20] Dhaiwat10 commented on #252
Closing this since we have setup Nextra instead via #263

[2022-02-10 13:20] #252 closed

[2022-02-10 13:27] #120 closed

[2022-02-12 06:53] elijahhampton commented on #186
Okay that's fine

[2022-02-15 02:10] #273 closed

[2022-02-15 18:55] Dhaiwat10 commented on #290
This is a great idea @jwarshack! I'll come up with a plan to implement this

[2022-02-15 18:57] Dhaiwat10 commented on #285
I feel like this can be solved via doing `newChainId?.split` instead of `newChain.split`

[2022-02-15 19:14] Dhaiwat10 opened #305 "Deploy the docs site to Vercel"
We need to deploy our [docs site](https://github.com/Developer-DAO/web3-ui/tree/main/docs) to Vercel.

[2022-02-15 19:30] with-heart commented on #305
Done! Check it out: https://web3-ui-docs.vercel.app/

[2022-02-15 19:30] #305 closed

[2022-02-17 18:58] SouravInsights commented on #247
Is anyone still working on this? @swellander & @Dhaiwat10
Love to take this up if it's not being already implemented.

[2022-02-17 18:59] swellander commented on #247
@SouravInsights hey, yeah working on a PR for this, should be up soon. got a little sidetracked by ethdenver!

[2022-02-17 19:02] SouravInsights commented on #247
No worries, I'll take up something else. :-)

[2022-02-21 08:22] Dhaiwat10 opened #308 "`switchToCorrectNetwork` not working properly"
The `switchToCorrectNetwork` exported from the `useWallet` hook is prompting me to add the Mumbai testnet to my Metamask when I indeed already have it in my Metamask.

#283 could have broken this

[2022-02-21 08:32] Dhaiwat10 opened #309 "Export the `NFT` and `NFTGallery` components from `core`"
At the moment these components are only accessible via the `components` package.

[2022-02-22 05:26] Lunaticsatoshi commented on #309
So we just have to add these components to the core also and export it from there?

[2022-02-22 15:39] chengsokdara opened #310 "Implement cached provider in Provider component"
### Description

Currently connected state is not persisted, when I reload the page I have to connect to wallet again.

### Why is this needed?

I would like the feature to automatically connect to user wallet when user already connect it with the site once before already.

### Proposed Solution or API

when initiate web3modal we can pass cachedProvider flag

[code]

when our page mounted we can c

[2022-02-25 01:12] swellander commented on #308
Hey @Dhaiwat10 I'll look into this

[2022-03-03 06:26] albertputrapurnama opened #313 "Build error on typescript nextjs"
## General Description
Doing `yarn build` on nextjs project that has `web3-ui/hooks` and `ethers` doesn't work due to Typescript error. However, `yarn dev` runs fine.

I'm wondering if this is an issue with web3-ui or ethersjs.

### Steps to reproduce
1. [Create next app with typescript](https://nextjs.org/docs/basic-features/typescript#create-next-app-support)
2. Install web3-ui `yarn add @web3-u

[2022-03-03 10:44] albertputrapurnama commented on #313
I'm kindof answering my own question here, but I found the issue from https://github.com/ethers-io/ethers.js/issues/1540#issuecomment-854857525

Turns out we're importing the .ts file directly from `@ethersproject/providers/src.ts/json-rpc-provider`  can be seen on these files:
- packages/components/src/components/AddressInput/AddressInput.tsx
- packages/hooks/src/Provider.tsx

These imports cause

[2022-03-03 19:11] ernestognw commented on #313
Hey sir, I opened a PR that fixes the type checking, but it still fails as the `web3-ui` package exposes `.ts` files and not transpiled `.js` files.

You'll probably need to add extra configuration after the PR is merged, this is the workaround I did, hopefully it helps you as well:

[code]

[2022-03-03 20:27] #313 closed

[2022-03-03 20:48] #308 closed

[2022-03-03 21:39] albertputrapurnama commented on #313
Awesome @ernestognw, thank you!

[2022-03-09 13:23] sk1122 commented on #213
is anybody working on this? I wanted to work on it

[2022-03-12 18:44] #247 closed

[2022-03-13 09:11] Dhaiwat10 opened #319 "IMP: We are deprecating our `hooks` package"
After a few months of work on web3-ui and having quite a few people try out our packages, it is clear to me that our strengh is our library of components and not our hooks. There are way better alternatives like [wagmi](https://wagmi-xyz.vercel.app/). Recently as we were developing our hooks, they were becoming more & more like `wagmi` or `eth-hooks`.

Instead of re-inventing the wheel, we will be

[2022-03-13 09:12] #319 closed

[2022-03-13 09:29] Dhaiwat10 opened #321 "Remove Chakra and setup Radix + Stitches"
Recently I decided to get rid of the opinionated approach towards styling with this package and provide a blank slate to the user. A lot of early users of this package said that the fact that the package was so opinionated in terms of styling was a deal breaker.

This is why we will be replacing Chakra UI with [Radix](https://www.radix-ui.com/) and [Stitches](https://stitches.dev/).

[2022-03-17 21:02] andriishupta commented on #310
Hello @chengsokdara 👋

I would like to take it, if it is still valid

[2022-03-18 13:36] Dhaiwat10 opened #323 "The current implementation of `TokenGate` is insecure"
The current implementation of the `TokenGate` component is _not_ secure and hence fails to properly gate content. This is due to the fact that you can easily spoof your identity if the component only uses the wallet connection to verify the identity of the user. For this identity verification to be actually secure, the user should be required to sign a message and that message must then be verifie

[2022-03-23 18:31] #323 closed

[2022-03-23 18:32] #17 closed

[2022-03-23 18:32] #37 closed

[2022-03-23 18:32] #175 closed

[2022-03-23 18:32] #177 closed

[2022-03-23 18:32] Dhaiwat10 commented on #177
Closing since we have deprecated our hooks

[2022-03-23 18:33] Dhaiwat10 commented on #179
Closing since we have deprecated our hooks

[2022-03-23 18:33] #179 closed

[2022-03-23 18:33] Dhaiwat10 commented on #221
Closing since `TokenGate` has now been removed

[2022-03-23 18:33] #221 closed

[2022-03-23 18:33] Dhaiwat10 commented on #222
Closing since `TokenGate` has now been removed

[2022-03-23 18:33] #222 closed

[2022-03-23 18:34] Dhaiwat10 commented on #186
Closing since our hooks have been deprecated

[2022-03-23 18:34] #186 closed

[2022-03-23 18:36] #209 closed

[2022-03-23 18:36] #256 closed

[2022-03-30 15:56] xdlrt opened #326 "it seems no export for NetworkSwitch component"
https://github.com/Developer-DAO/web3-ui/blob/ef8df06dea5b36c4f5d65bf6e37288eaa9571146/packages/core/src/components/index.ts#L2

it seems no export for NetworkSwitch component, maybe this is a careless problem.

[2022-04-04 21:34] dawsbot opened #330 "PollingBlockTracker: Infinite Loop Bug"
Solved: The currently installed `Provider` needs to accept an `infuraId` param and it does not: https://github.com/Developer-DAO/web3-ui/blob/main/packages/core/src/components/Provider/Provider.tsx

The instant fix is to `import { Provider } from '@web3-ui/hooks';` and **not** `import { Provider } from '@web3-ui/core';`

---

When connecting via WalletConnect (I'm using Rainbow Wallet iOS), there

[2022-04-05 17:30] JorisZierold commented on #135
Hey @Dhaiwat10, while searching for a `good first issue` I came across this one. Is it still open? Or is there any other issue I could help with as newcomer?

[2022-04-12 09:31] seromenho commented on #326
Can I take this one? Anyone working on it?

[2022-04-12 10:02] seromenho commented on #285
I think this was fixed with #297.
Maybe it can be closed, what do you think?

[2022-04-13 02:22] xdlrt commented on #326
thanks bro😁

[2022-04-16 20:34] Dhaiwat10 commented on #135
hey @JorisZierold yeah this is still open but I recommend waiting until the current refactor is done. I'll ping you here once that happens!

[2022-04-17 18:57] Dhaiwat10 opened #338 "`yarn release` is failing bc of missing Rollup CSS plugin"
Output when running `yarn release` on the `next` branch:

[code]

We're missing a Rollup CSS plugin.

[2022-04-17 22:25] Dhaiwat10 commented on #338
To test you can also run, `yarn build`.

[2022-04-18 00:32] #285 closed

[2022-04-18 23:27] kempsterrrr opened #339 "Testing out github webhook"

[2022-04-18 23:32] gaslimitreached commented on #339
LGTM

[2022-04-19 02:59] Dhaiwat10 commented on #339
woot woot

[2022-04-19 02:59] #339 closed

[2022-04-19 23:19] jamescharlesworth commented on #310
@andriishupta are you working on this? I'd like to take it on if not.

[2022-04-20 06:14] andriishupta commented on #310
@jamescharlesworth no, nobody answered, so I didn't start
go for it

[2022-04-27 08:20] revmischa commented on #338
Does preconstruct even support CSS? I found this issue: https://github.com/preconstruct/preconstruct/issues/417

I can't find any mention of custom rollup config in the docs https://preconstruct.tools/configuration

[2022-04-29 03:32] Dhaiwat10 commented on #338
@revmischa I see. Do you suggest we use something like `stitches`?

[2022-04-29 04:15] Dhaiwat10 opened #343 "Bug: We are not stringifying `error` before rendering them"
Inside `Address` and `AddressInput`, we are trying to render the `error` object which is causing problems.
<img width="723" alt="CleanShot 2022-04-29 at 09 45 39@2x" src="https://user-images.githubusercontent.com/39617427/165884506-3eb4dbb8-0d0d-49b7-9427-012791e14933.png">

[2022-05-03 10:18] #343 closed

[2022-05-03 10:18] Dhaiwat10 commented on #338
Fixed via #341

[2022-05-03 10:18] #338 closed

[2022-05-03 10:25] Dhaiwat10 commented on #321
Resolved via #341

[2022-05-03 10:25] #321 closed

[2022-05-03 10:37] #310 closed

[2022-05-03 10:37] #326 closed

[2022-05-03 11:01] Dhaiwat10 commented on #213
`TokenGate` has been deprecated. Closing this

[2022-05-03 11:01] #213 closed

[2022-05-03 20:38] dawsbot opened #348 "[Error] Can't resolve '@web3-ui/hooks/src/hooks'"
### Description

When updating from the old packages that `@web3-ui/hooks` was not yet included in the core repo:

[code]

### Why is this needed?

Missing dep in install command

### Proposed Solution or API

Include hooks in deps

### Additional Information

This is in a Next.js repo where the client still builds properly, so this has to do with server-side building. **Reverting to @web3-ui/core

[2022-05-06 04:50] Dhaiwat10 commented on #348
Hmm but that shouldn't happen. [The hooks package _is_ a part of the dependencies for the core package](https://github.com/Developer-DAO/web3-ui/blob/main/packages/core/package.json#L42)

[2022-05-09 23:00] leon0399 commented on #348
Yo! This error just occurred at mine! Was trying to add `ConnectWallet` component

| Package | Version |
| :-------- | :-------- |
| `@web3-ui/core` | `0.8.1` |
| `@web3-ui/hooks` | `0.13.0` |
| `@web3-ui/components` | `0.12.0` |

[2022-05-12 01:25] jlevers commented on #348
I'm also having this problem in a Next.js app, with the same versions as @leon0399

[2022-05-12 05:42] Dhaiwat10 commented on #348
Thanks for reporting this! Unfortunately it might take me quiet a bit of time to work on a fix since I'm busy with my job hunt and other stuff lately. Appreciate the patience. If you can put in a PR that would be awesome! :)

[2022-07-15 17:44] e-roy commented on #133
closing because of massive structure change

[2022-07-15 17:44] e-roy commented on #348
closing because of massive structure change

[2022-07-15 17:44] #348 closed

[2022-07-15 17:44] e-roy commented on #330
closing because of massive structure change

[2022-07-15 17:44] #330 closed

[2022-07-15 17:45] e-roy commented on #309
closing because of massive structure change

[2022-07-15 17:45] #309 closed

[2022-07-15 17:45] e-roy commented on #290
closing because of massive structure change

[2022-07-15 17:45] #290 closed

[2022-07-15 17:45] #251 closed

[2022-07-15 17:45] e-roy commented on #245
closing because of massive structure change

[2022-07-15 17:45] #245 closed

[2022-07-15 17:46] e-roy commented on #230
closing because of massive structure change

[2022-07-15 17:46] #230 closed

[2022-07-15 17:46] e-roy commented on #210
closing because of massive structure change

[2022-07-15 17:46] #210 closed

[2022-07-15 17:46] e-roy commented on #169
closing because of massive structure change

[2022-07-15 17:46] #169 closed

[2022-07-15 17:46] e-roy commented on #135
closing because of massive structure change

[2022-07-15 17:46] #135 closed

[2022-07-15 18:05] Dhaiwat10 opened #350 "A `Contract` component that auto-generates the UI based off of the ABI"
### Description

Like scaffold-eth's debug contract view!

### Why is this needed?

~

### Proposed Solution or API

[code]

### Additional Information

_No response_

[2022-07-23 18:33] e-roy opened #354 "Create basic elements"
**Build a set of basic elements.**

Elements are found in the `packages/components/src/elements` folder.  Each element should have working

- tsx file
- storybook file
- test file

Example of a basic element is the Button element inside the elements folder.

Please choice one of the elements from the list to work on by commenting below.  After completing an element, create a PR with `feat:` and na

[2022-07-23 18:46] e-roy opened #356 "Slow Storybook"
### What happened?

Running `yarn storybook` and making changes to the library causes a very slow reload.

### What was Expected?

It would be nice if it was faster.

### Relevant log output

_No response_

### Proposed Solution

Anyone that has extensive Storybook knowledge or feels like taking on a challenge.

### Additional Information

_No response_

[2022-07-24 00:27] diegoalzate commented on #354
@e-roy I can do the badge in the next 24hrs

[2022-07-24 01:18] meow-y commented on #354
@e-roy I will take the card

[2022-07-24 10:26] andriishupta commented on #354
@e-roy I am taking Checkbox

[2022-07-24 20:16] diegoalzate commented on #354
@e-roy I can do the Avatar

[2022-07-25 14:33] andriishupta commented on #354
@e-roy I am taking DropdownMenu

[2022-07-30 16:49] e-roy commented on #356
Implementing Turborepo helped speed up reload between saves

[2022-07-30 16:49] #356 closed

[2022-07-30 16:59] e-roy opened #366 "Token Balance component"
A simple token balance similar to the [Address component](https://github.com/Developer-DAO/web3-ui/tree/main/packages/components/src/components/Address)

4 working files:

- TokenBalance.tsx
- TokenBalance.test.tsx
- TokenBalance.stories.tsx
- index.ts

[wagmi hook to use](https://wagmi.sh/docs/hooks/useBalance)

component props :

`TokenBalanceProps = {
     address: string;
     chainId?: number

[2022-07-31 00:41] e-roy commented on #354
Adding Sheet

[2022-08-03 14:29] e-roy opened #369 "web3-ui-docs deploy error"
deploy issue with the docs app.  this is from #365 when restructure of the project for turborepo

[2022-08-03 14:38] #369 closed

[2022-08-05 03:22] e-roy opened #372 "Build error on docs"
build error docs build in vercel

`<html>
<body>

./pages/index.tsx:1:24
--
23:13:17.125 | Type error: Cannot find module '@web3-ui/components' or its corresponding type declarations.
23:13:17.125 |  
23:13:17.125 | > 1 \| import { Button } from '@web3-ui/components';
23:13:17.126 | \|                        ^
23:13:17.126 | 2 \|
23:13:17.126 | 3 \| export default function Docs() {
23:13:17.126 |

[2022-08-10 19:49] e-roy commented on #354
Adding TextField

[2022-08-13 15:01] e-roy opened #379 "Dropdown Element"
Currently we have a [DropdownMenu element](https://github.com/Developer-DAO/web3-ui/tree/main/packages/components/src/elements/DropdownMenu)

This should be renamed to Dropdown

A lot will be removed from this element to get to the goal of a single <Dropdown /> element

The element should act similar to this [tailwind dropdown component](https://tailwindui.com/components/application-ui/elements/dr

[2022-08-13 18:21] e-roy commented on #372
I haven't seen this error from the last few PRs, closing this

[2022-08-13 18:21] #372 closed

[2022-08-13 20:36] e-roy opened #383 "ENS Avatar component"
### Description

A simple web3 avatar component

### Why is this needed?

need a web3 avatar component

### Proposed Solution or API

4 working files:

- ENSAvatar.tsx
- ENSAvatar.test.tsx
- ENSAvatar.stories.tsx
- index.ts

[wagmi hook to use](https://wagmi.sh/docs/hooks/useEnsAvatar)

build using the  [Avatar element](https://github.com/Developer-DAO/web3-ui/tree/main/packages/components/src/ele

[2022-08-15 16:57] remiroyc commented on #383
Hey @e-roy I'll be happy to take care of it as my first contribution if you want

[2022-08-17 17:44] #383 closed

[2022-08-20 05:45] Nazeeh21 commented on #379
Can I work on this issue?

[2022-08-20 10:37] e-roy commented on #379
@Nazeeh21 you got it! :)

let me know if you have any issues or questions

[2022-08-20 15:30] e-roy opened #388 "MintFromContract component"
Description
A simple mint of contract component.  Component will be a simple button using the button element already created [here](https://github.com/Developer-DAO/web3-ui/tree/main/packages/components/src/elements/Button)

Why is this needed?
need a web3 avatar component

Proposed Solution or API
4 working files:

MintFromContract.tsx
MintFromContract.test.tsx
MintFromContract.stories.tsx
index.

[2022-08-20 16:21] Nazeeh21 commented on #379
Sure thing

[2022-08-20 20:31] BlueGlaucus33 commented on #388
I would like to contribute to this issue.

[2022-08-20 20:48] e-roy commented on #388
@BlueGlaucus33 thank you!

[2022-08-27 16:04] shindeajinkya commented on #354
Adding Modal and Link

[2022-08-29 01:59] e-roy opened #394 "NFT Card"
### Description

A simple NFT component using the ankr hook useNFTMetadata

display the picture, token ID, collection title, description

props should include contractAddress, tokenID, network

check for gif, video, and music to render

### Why is this needed?

The NFT component isn't currently working

### Proposed Solution or API

`import { useNFTMetadata } from 'ankr-react';`

### Additional In

[2022-09-03 14:43] #379 closed

[2022-09-08 08:39] deepak-likes-code commented on #354
@e-roy  I can take the radio